<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Error</title>
    <style>
      /* Add your custom CSS styles for error messages here */
    </style>
  </head>
  <body>
    <h1>Error</h1>
    <p><%= message %></p>
    <!-- <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre> -->
  </body>
</html>
